.burger-menu {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
    @include respond-to(mobile){
        display: block;
    }
}

.close-btn {
    display: none;
    font-size: 2rem;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    @include respond-to(mobile){
        display: block;
    }
}
