// Margines and Paddings
$section-margin:40px;
$five:5px;
$ten:10px;
$fift:15px;
$twenty:20px;


// font-weight variable 
$medium:500;
$semi-bold:600;
$bold:700;

//Color variable 
$backgrey:#42455A;
$white:#fff;
$electricblue:#00FFFF;
$black:#000;
$pop:#FF02FF;
$grey:rgb(112, 108, 108);

// font and typography
$body-font:'Poppins' ,sans-serif;
$h1-fonnt-size:2rem;
$normal-font-size:.938rem;

// breakpoints
$desktop:1200px;
$tablet:960px;
$mobile:480px; 
